<div id="InfoAlert" class="module secondaryGradient">
	<div class="edge outer top">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
	<div class="edge outer bottom">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
	
	<div class="content">
		<div class="maxWidth">
			<table>
				<tr>
					<td class="primaryGradient">
						<span class="headline">Störningsinformation:</span>
					</td>
					
					<td class="info">
						<span class="date">19/2 -11<span>|</span>
						</span><span class="message">På grund af post strejk i England er posten forsinket op til 2 dage i Sverige</span>
					</td>
				</tr>
			</table>
		</div>
		<div class="paginator primaryGradient">
			<a href="#">
				<span class="arrow medium primary left"></span>
			</a><span>
				01/10
			</span><a href="#">
				<span class="arrow medium primary right"></span>
			</a>
		</div>
		<div class="divider"></div>
	</div>
</div>
<!--
<style>
#InfoAlert2 { width: 700px; border: solid 1px #dbd4c5; }
.title { float: left; height: 38px; white-space: nowrap; line-height: 38px;  margin-right: 14px; }
.title .divider { padding: 0 14px; background: url('images/dividers/vertical_3.png') right center no-repeat; }
.info { height: 38px; }
.date { display: inline-block; color: #998c6e; font-size: 12px; }
.message { font-size: 12px; }
.content { overflow: hidden; }
.wrapper {  }
.paginator { float: right; width: 90px; height: 38px; line-height: 38px; margin-left: 14px; font-size: 12px; }
.paginator .divider { padding: 0 14px; background: url('images/dividers/vertical_3.png') left center no-repeat; }
.primaryGradient {  background-color: #77f; }
.secondaryGradient { background-color: #e77; }
</style>


<div id="InfoAlert2" class="module secondaryGradient">
	<div class="edge outer top">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
	<div class="edge outer bottom">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
	
	<div class="content">
	
		<div class="title primaryGradient">
			<div class="divider">
				<span class="headline">Störnings information: asd asd asd</span>
			</div>
		</div>
		
		<div class="paginator primaryGradient">
			<div class="divider">
				<a href="#">
					<span class="arrow medium primary left"></span>
				</a><span>
					01/10
				</span><a href="#">
					<span class="arrow medium primary right"></span>
				</a>
			</div>
		</div>
		
		<div class="info">
			<div class="date"><span>19/2 -11</span><span>|</span></div>
			<span class="message">På grund af post strejk i England er posten forsinket op til 2 dage i Sverige</span>
		</div>
		
	</div>
</div>-->