﻿A.customsDocumentsLink,
A.customsDocumentsLink:active,
A.customsDocumentsLink:visited,
A.customsDocumentsLink:link {
    color: #333;
    text-align: center;
    display: inline-block;
    margin: 0 5px 10px;
    font-weight: bold;
    float: left;
    clear: none;
}

A.customsDocumentsLink IMG {
    margin: 0 15px;
}

.arrowLink {
    position: relative;
    margin-right: 15px;
}

.arrowLink::after {
    content: "\25BA";
    color: #333;
    position: absolute;
    right: -15px;
    top: 0;
}