<div class="module relatedContent">
	<div class="content">
		<div class="header">
			<span>Relaterat innehåll:</span>
			<a href="#" class="control">Visa alla<span class="arrow medium primary down"></span></a>
		</div>
		
		<div class="body">
			<ul class="column wide links">
				<li><a href="#" class="link">Lorem Ipsum dolar sed do tempor</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
				<li class="expansion hidden"><a href="#" class="link">Lorem Ipsum</a></li>
				<li class="expansion hidden"><a href="#" class="link">Lorem Ipsum</a></li>
				<li class="expansion hidden"><a href="#" class="link">Lorem Ipsum</a></li>
				<li class="expansion hidden"><a href="#" class="link">Lorem Ipsum</a></li>
			</ul>
			
			<ul class="column wide files">
				<li><a href="#" class="file pdf"><span class="text">Vilkor</span><span class="size">(154 kB)</span></a></li>
				<li><a href="#" class="file pdf"><span class="text">Vilkor</span><span class="size">(154 kB)</span></a></li>
				<li><a href="#" class="file pdf"><span class="text">Vilkor</span><span class="size">(154 kB)</span></a></li>
				<li class="expansion hidden"><a href="#" class="file pdf"><span class="text">Vilkor</span><span class="size">(154 kB)</span></a></li>
				<li class="expansion hidden"><a href="#" class="file pdf"><span class="text">Vilkor</span><span class="size">(154 kB)</span></a></li>
			</ul>
		</div>
	</div>
</div>