<div class="module bundleOffer">
	<div class="edge top outer"><div class="left border"></div><div class="right border"></div></div>
	
	<div class="content">
		<div class="pageButton prev"><a href="#"><span></span></a></div>
		<ul>
			<li>
				<img src="content/bundle_offer1.png" alt="" />
				<span class="headline">Skicka riktiga vykort</span>
				<a href="#">Länktext</a>
			</li>
			<li>
				<img src="content/bundle_offer2.png" alt="" />
				<span class="headline">Nystartat</span>
				<a href="#">Lång länktext som kan bli ganska </a>
			</li>
		</ul>
		<div class="pageButton next"><a href="#"><span></span></a></div>
	</div>
	<div class="footer">
		<a href="#" class="link">Se samtliga paketerbjudanden<span class="arrow"></span></a>
	</div>
	
	<div class="edge bottom outer"><div class="left border"></div><div class="right border"></div></div>
</div>