
/************************************************************** Quick Finder Structure */

#QuickFinder {
	position: relative;
	overflow: visible;
	margin-bottom: 26px;
	border-top: none;
	border-bottom: none;
	background: #eeeae2;
}

#QuickFinder ul {
	margin: 0px -1px;
	padding: 0px;
	min-height: 600px;
	position: relative;
	z-index: 7;
}

#QuickFinder li {
	margin: 0px;
	padding: 0px;
}

#QuickFinder > .bottomBanner {
	position: absolute;
	bottom: -20px;
	z-index: 5;
}

#QuickFinder .edge.bottom {
	z-index: 4;
}

#QuickFinder > .bottomBanner img {
	border: none
}
/*
#QuickFinder .headline.active a {
	background-image: url('../images/quick_finder/arrow_expanded.png');
}*/

#QuickFinder .bottomBorder {
	height: 10px;
	margin: 0 -14px;
}

#QuickFinder .header span {
	display: inline-block;
	position: static;
	padding: 10px 14px;
	font-size: 18px;
}

#QuickFinder .headline {
	margin-top: 1px;
	font-size: 14px;
	overflow: hidden;/*
	background: url('../images/quick_finder/header_bg.png') repeat-x center center;
	background: url('../images/localization_se.png') 0px 0px;*/
/*	background: url('../images/localization_se.png') 0px center;*/
}

#QuickFinder .headline a {
	padding: 3px 20px 3px 14px;
	display: block;
	font-weight: bold;
	color: #fff;
	position: relative;
/*	background: url('../images/quick_finder/arrow_collapsed.png') 154px center no-repeat;*/
}


#QuickFinder .headline .arrow {
	position: absolute;
	right: 14px;
	top: 50%;
	margin-top: -5px;
}

#QuickFinder .area {
	display: none;
	padding: 0px 14px;
	background-color: #f6f3ed;
	margin: 0 1px;
}

#QuickFinder .headline.active + .area {
	display: block;
}

/************************************************************** Quick Finder Content */
/*
#QuickFinder .area a {
	color: #000;
	padding-right: 7px;
	background: url('../images/link_arrow_gray.png') right center no-repeat;
}*/

#QuickFinder .area * {
	font-size: 12px;
}

#QuickFinder p {
	margin: 0px;
	padding: 5px 0;
}

#QuickFinder p + p {
	padding-top: 0px;
}

#QuickFinder input[type='text'],
#QuickFinder select {
	width: 100%;
	margin: 5px 0px;
}

#QuickFinder .tracker {
	margin: 0px -14px;
	padding: 14px 14px;
	background-color: #fedc4f;
	float:left;
	width:100%;
}

#QuickFinder form {
	overflow: hidden;
}

#QuickFinder form input[type='button'] {
	display: inline-block;
	float: right;
}


/*******************************************************************************************************************
****************************************************************************************** Edges ******************/



