﻿<div class="centerText">
    <h1>Din webbläsare stöds inte</h1>
    Du använder en föråldrad version av din webbläsare, som vi inte har stöd för.<br />
    Uppdatera din webbläsare till senaste version av 
    <a href="https://www.google.com/chrome/browser/">Google Chrome</a>, 
    <a href="https://www.mozilla.org/sv-SE/">Mozilla Firefox</a> eller 
    <a href="http://windows.microsoft.com/sv-se/internet-explorer/download-ie">Internet Explorer</a>.
</div>