﻿/* Content Containers */

.selectServiceDims {
    padding-top: 17px;
}

.selectServiceParcel {
    padding-top: 5px;
}

.selectServiceRoll {
    padding-top: 22px;
}

/* Forms and inputs */

input[type="checkbox"].selectServiceImportant {
    display: none;
}

input[type="checkbox"].selectServiceImportant + label {
    margin-right: 5px;
    display: inline-block;
    color: #333333;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    -o-border-radius: 7px;
    overflow: hidden;
}

input[type="checkbox"].selectServiceImportant + label span {
    padding: 8px;
    display: inline-block;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

input[type="checkbox"].selectServiceImportant:checked + label {
    color: #ffffff !important;
    border: 0px solid #0099bb;
    border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    -o-border-radius: 7px;
    overflow: hidden;
}

input[type="checkbox"].selectServiceImportant:checked + label span {
    padding: 9px;
    display: inline-block;
    background: #0099bb; /* Old browsers */
    background: -moz-linear-gradient(top, #0099bb 0%, #007593 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099bb), color-stop(100%,#007593)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0099bb 0%,#007593 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0099bb 0%,#007593 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0099bb 0%,#007593 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0099bb 0%,#007593 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099bb', endColorstr='#007593',GradientType=0 ); /* IE6-9 */
}

.radioButtonContainer {
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    display: inline-block;
}

.radioButtonContainer label span {
    margin-right: 5px;
}

.sizeBottomMargin {
    margin-bottom: 3px;
}

.sizeInput {
    width: 65px;
}

.smallWidth {
    min-width: 20px;
}

.leftPartSize {
    padding: 4px 8px 0 0;
    float: left;
    clear: none;
    font-weight: bold;
    line-height: 20px;
}

.rightPartSize {
    float: left;
    clear: none;
}

.rightPartSize IMG {
    margin: 4px 8px 0 0;
}

@media (min-width: 650px) {
    .leftPartSize {
        width: 158px;
    }

    .rightPartSize {
        width: 422px;
    }
}

@media (max-width: 649px) {
    .leftPartSize {
        width: 78px;
    }

    .rightPartSize {
        max-width: 422px;
    }
}