﻿#ShoppingCartDisplay {
    position: relative;
}

.shoppingCart {
    margin-top: 15px;
}

.shoppingCartIcon {
    position: absolute;
    top: -15px;
    right: 10px;
    height: 30px;
    width: 30px;
    border: 6px solid #ffffff;
    line-height: 24px;
    padding: 0;
    text-align: center;
    border-radius: 23px;
    -ms-border-radius: 23px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    -khtml-border-radius: 23px;
    -o-border-radius: 23px;
    overflow: hidden;
}

.shoppingCartIconContent {
    height: 30px;
    width: 30px;
    line-height: 24px;
    text-align: center;
    border-radius: 23px;
    -ms-border-radius: 23px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    -khtml-border-radius: 23px;
    -o-border-radius: 23px;
}

.shoppingCartIconContent span {
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;
    display: block;
    background: transparent url('/_Layouts/Images/Posten.SkickaDirekt2/basket.png') center center no-repeat;
}

button.shoppingCartButton {
    padding: 10px;
    margin: 0;
    cursor: pointer;
    color: #333333 !important;
    border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    -o-border-radius: 7px;
    border: 1px solid #e1e1e1;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

button.shoppingCartButton span {
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    display: block;
}

button.shoppingCartButton span.editButton {
    background: transparent url('/_Layouts/Images/Posten.SkickaDirekt2/basket_edit.png') center center no-repeat;
}

button.shoppingCartButton span.deleteButton {
    background: transparent url('/_Layouts/Images/Posten.SkickaDirekt2/basket_delete.png') center center no-repeat;
}

.leftCart {
    float: none;
    width: auto;
}

.rightCart {
    float: right;
    clear: none;
}

/* Tooltips */

.carttip {
    outline: none;
    position: relative;
    margin-right: 95px;
}

.carttip:hover {
    text-decoration: none;
}

.carttip span {
    z-index: 10;
    display: none;
    top: 0;
    left: 0;
    max-width: 100%;
    line-height: 16px;
    font-weight: normal;
}

.carttip:hover span {
    display: inline;
    position: absolute;
    color: #333333;
    border: 1px solid #e1e1e1;
    background: #ffffff;
}

/*.carttip:hover span:before, .tooltip:hover span:after {
    right: 100%;
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.carttip:hover span:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 8px;
    margin-top: -8px;
}

.carttip:hover span:before {
    border-color: rgba(225, 225, 225, 0);
    border-right-color: #e1e1e1;
    border-width: 9px;
    margin-top: -9px;
}*/

.carttip span {
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    -o-border-radius: 7px;
    text-align: left;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
}

.visibleOverflow {
    overflow: visible;
}
