.webShop {
	margin-top: 32px;
	float: right;
}
.webShop * {
	font-size: 14px;
}
.webShop .content {
	overflow: hidden;
	border-left: solid 1px #dbd4c5;
	float: right;
}
.webShop .content > div {
	padding: 0 14px;
	height: 24px;
	font-weight: bold;
	float: left;
	font-size: 14px;
	line-height: 24px;
	border-top: solid 1px #dbd4c5;
	border-bottom: solid 1px #dbd4c5;
}
.webShop .articles {
	border-left: solid 1px #dbd4c5;
	border-right: solid 1px #dbd4c5;
	background: url('../images/spritemap_common_vertical.png') 0px -70px repeat-x;
}
.webShop .checkout {
	padding: 0 !important;
	border: none !important;
	height: 26px !important;
}
.webShop .checkout span {
	display: inline-block;
	color: #fff;
	padding: 0 14px;
	height: 26px;
}

.webShop .notification {
	display: none;
	width: 195px;
	height: 50px;
	position: absolute;
	top: -17px;
	left: -215px;
	background: url('../images/spritemap_localization_com.png') -284px -155px no-repeat;
	color: #fff;
	font-weight: normal;
	padding: 10px;
	z-index: 15;
}

.webShop .shoppingBasket span {
	display: inline-block;
	width: 13px;
	height: 12px;
	margin-right: 7px;
	background: url('../images/spritemap_common.png') -27px -61px no-repeat;
}

.webShop {
	z-index: 51;
}

.webShop .dropDown {
	width: 558px;
	right: -7px;
}

.webShop .dropDown li.gridHeader > * {
	font-size: 16px;
	font-weight: bold;
	color: #333;
	padding: 7px 0 5px 0;
}

.webShop strong {
	color: inherit;
}

.webShop .dropDown li {
	overflow: hidden;
	padding: 0 9px;
}

.webShop .dropDown li + li {
	padding-top: 10px;
	background: url('../images/dividers/horizontal_557.png') center top no-repeat;
}

.webShop .dropDown li div {
	float: left;
}
.webShop .dropDown li div.article {
	width: 121px;
}
.webShop .dropDown li div.description {
	width: 220px;
}
.webShop .dropDown li div.quantity {
	width: 60px;
}
.webShop .dropDown li div.price {
	width: 80px;
	text-align: right;
	padding-right: 10px;
}
.webShop .dropDown li div.delete {
	width: 25px;
}

.webShop .dropDown li div.quantity input {
	width: 30px;
}

.webShop .dropDown .sum {
	background-color: #eeeae1;
	height: 32px;
	font-weight: bold;
}

.webShop .dropDown .description * {
	font-weight: normal;
	line-height: 1.2em;
}

.webShop .dropDown .price * {
	font-weight: normal;
	text-align: right;
}

.webShop .dropDown .header * {
	font-size: 18px;
}

.webShop .dropDown .freight, .webShop .dropDown .sum {
	padding-left: 135px;
	position: relative;
	height: 30px;
	border-top: solid 1px #dbd4c5;
	margin: 0 -5px;
	z-index: 111;
	line-height: 28px;
}

.webShop .dropDown .freight a {
	display: inline-block;
	width: 17px;
	height: 17px;
	vertical-align: text-bottom;
	background: url("../images/spritemap_common.png") -39px -144px;
}

.webShop .dropDown .delete a {
	display: inline-block;
	width: 17px;
	height: 17px;
	vertical-align: text-bottom;
	background: url("../images/spritemap_common.png") -21px -144px;
}

.webShop .dropDown .bottom .center div {
	text-align: right;
	padding: 20px 30px;
}

.webShop .dropDown .price span {
	display: block;
}
.webShop .dropDown .price span:first-child {
	font-weight: bold;
}
.webShop .rightAlign {
	float: right;
	padding-right: 40px;
}
.webShop .bottom a {
	vertical-align: middle;
}
.webShop .bottom a.basketUpdate {
	color: #333;
	display: inline-block;
	padding-right: 20px;
}
.webShop .sum .rightAlign {
	font-size: 18px;
}
.webShop .indent {
	height: 20px;
    right: 288px;
    position: absolute;
    top: -12px;
    width: 17px;
    z-index: 101;
	background: url('../images/spritemap_common.png') -135px -48px;
}
.webShop.active .indent {
	display: block;
}