﻿<%@ Assembly Name="$SharePoint.Project.AssemblyFullName$" %>
<%@ Import Namespace="Microsoft.SharePoint.ApplicationPages" %>
<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PaymentRevert.aspx.cs" Inherits="Posten.Portal.Cart.Presentation.ApplicationPages.Legacy.PaymentRevert" %>

