<?xml version="1.0" encoding="UTF-8"?>
<link href="../styles/common.css" rel="stylesheet" type="text/css" />
<link href="campaign_modules.css" rel="stylesheet" type="text/css" />
<link href="../styles/print.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
<script src="scripts/campaign_modules.js"></script>
<style>body { background: none; }</style>
	
	<body>
		<h2 style="clear:left;">1/5</h2>
			
		<div class="box">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header text</span>
				</div>
				
				<img src="../content/banner_w1.png" alt="">
				
				<div class="content headline">
					Headline text
				</div>
				
				<div class="content">
					<a href="#">Body link<span></span></a>
				</div>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<div class="box">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
						<span>Header text</span>
				</div>
					
				<form>
					<div class="content">
						<span>Running text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
					</div>
					
					<div class="content">
						<input type="radio" name="radiogroup1" value="1"> Radio 1
						<input type="radio" name="radiogroup1" value="2"> Radio 2
					</div>
					
					<div class="content">
						<span>Running text</span>
					</div>
					
					<div class="content">
						<input type="text" value="Namn">
						<input type="text" value="E-post">
					</div>
					
					<div class="content">
						<button>Send</button>
					</div>
				</form>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<div class="box">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header text</span>
				</div>
				
				<img src="../content/banner_w1.png" alt="">
				
				
				
				<div class="content">

					<div class="headline">
						Headline text
					</div>
					
					<p>Running text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					
					<div class="">
						<a href="#">Body link</a>
					</div>

				</div>
				
				
				<div class="footer border">
					<a href="#">Footer link</a>
				</div>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<div class="box">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header text</span>
				</div>
				
				<img src="../content/banner_w1.png" alt="">
				
				<div class="content headline">
					Headline text
				</div>
				
				<div class="content">
					<ul>
						<li>list item</li>
						<li>list item</li>
						<li>list item</li>
						<li>list item</li>
					</ul>
				</div>
				
				<div class="footer border">
					<a href="#">Footer link</a>
				</div>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<div class="box">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header text spanning two rows</span>
				</div>
				
				<div class="content headline">
					Headline text
				</div>
				
				<div class="content">
					<ul>
						<li>list item</li>
						<li>list item</li>
						<li>list item</li>
						<li>list item spanning two rows</li>
						<li>list item</li>
						<li>list item</li>
						<li>list item</li>
						<li>list item</li>
					</ul>
				</div>
				
				<div class="footer border">
					<a href="#">Footer link</a>
				</div>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<div class="box">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header text</span>
				</div>
				
				<img src="../content/banner_w1.png" alt="">
				
				<div class="content headline">
					Headline text
				</div>
				
				<div class="content">
					<a href="#">Body link spanning two rows</a>
				</div>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<div class="box">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<img src="../content/banner_w1b.png" alt="">
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<h2 style="clear:left;">2/5</h2>
		
		<div class="box colspan-2">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header text</span>
				</div>
				
				<img src="../content/banner_w2.png" alt="">
				
				<div class="content headline">
					Headline text
				</div>
				
				<div class="content">
					<span>Running text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
				</div>
				
				<div class="content">
					<a href="#">Body link</a>
				</div>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<div class="box colspan-2">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header text</span>
				</div>
				
				<img src="../content/banner_w2c.png" alt="" class="left">
				
				<div class="content headline">
					Headline text
				</div>
				
				<div class="content">
					<span>Running text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
				</div>
				
				<div class="content">
					<a href="#">Body link</a>
				</div>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<div class="box colspan-2">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header text</span>
				</div>
				
				<img src="../content/banner_w2b.png" alt="">
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<p style="clear:left;">&nbsp;</p>
		
		<div class="box colspan-2">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header text</span>
				</div>
				
				<div class="content headline">
					Headline text
				</div>
				
				<div class="content">
					<span>Running text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
				</div>
				
				<img src="../content/banner_w2.png" alt="">
				
				<div class="footer border">
					<a href="#">Footer link</a>
				</div>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<div class="box colspan-2">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header text</span>
				</div>
				
				<img src="../content/banner_w2.png" alt="">
				
				<div class="content headline">
					Headline text
				</div>
				
				<div class="content">
					<span>Running text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
				</div>
				
				<div class="content">
					<a href="#">Body link</a>
				</div>
				
				<div class="footer border">
					<a href="#">Footer link</a>
				</div>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<!--
		<div class="box colspan-2">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header text</span>
				</div>
				
				<img src="../content/banner_w2d.png" alt="" class="left">
				
				<div class="content headline">
					Headline text
				</div>
				
				<div class="content">
					<span>Running text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br/>
					<span style="font-size:18px; font-weight:bold; color:#234e90;">60,00 kr</span><br/>
					<span style="font-weight:bold;">inkl. moms</span>
				</div>
				
				<div class="content shop">
					<form>
						Antal: <input type="text" value=""><input type="submit" value="Köp" />
					</form>
				</div>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>-->
		
		<p style="clear:left;">&nbsp;</p>
		
		<div class="box colspan-2">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<img src="../content/banner_w2b.png" alt="">
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<!--
		<div class="box colspan-2">
			<div class="module campaignModule">
				
				<div class="header border tabs">
					<div class="active">
						<div class="left"></div>
						<div class="center"><span>Aktuellt</span></div>
						<div class="right"></div>
					</div>
					<div>
						<div class="left"></div>
						<div class="center"><span>Senaste från postenbloggen</span></div>
						<div class="right"></div>
					</div>
				</div>
				
				<ul class="striped">
					<li>
						<span>02.11.2010</span>
						<a href="#">List Link - Lorem ipsum dolar</a>
					</li>
					<li class="alt">
						<span>02.11.2010</span>
						<a href="#">List Link - Lorem ipsum dolar</a>
					</li>
					<li>
						<span>02.11.2010</span>
						<a href="#">List Link - Lorem ipsum dolar</a>
					</li>
					<li class="alt">
						<span>02.11.2010</span>
						<a href="#">List Link - Lorem ipsum dolar</a>
					</li>
					<li>
						<span>02.11.2010</span>
						<a href="#">List Link - Lorem ipsum dolar</a>
					</li>
				</ul>
				
				<div class="footer border">
					<a href="#">Footer link</a>
				</div>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<div class="box colspan-2">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header text</span>
				</div>
				
				<ul class="striped">
					<li>
						<span>02.11.2010</span>
						<a href="#">List Link - Lorem ipsum dolar</a>
					</li>
					<li class="alt">
						<span>02.11.2010</span>
						<a href="#">List Link - Lorem ipsum dolar</a>
					</li>
					<li>
						<span>02.11.2010</span>
						<a href="#">List Link - Lorem ipsum dolar</a>
					</li>
					<li class="alt">
						<span>02.11.2010</span>
						<a href="#">List Link - Lorem ipsum dolar</a>
					</li>
					<li>
						<span>02.11.2010</span>
						<a href="#">List Link - Lorem ipsum dolar</a>
					</li>
				</ul>
				
				<div class="footer border">
					<a href="#">Footer link</a>
				</div>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		-->
		<h2 style="clear:left;">3/5</h2>
		
		<div class="box colspan-3">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header - Lorem Ipsum</span>
				</div>
				
				<img src="../content/banner_w3b.png" alt="" class="left">
				
				<div class="content headline">
					Headline - Mauris purus urna, egestas et malesuada.
				</div>
				
				<div class="content">
					<a href="#">Link - Mauris purus urna, egestas et malesuada vel, vestibulum at augue.<br /> Mauris purus urna, egestas et malesuada vel, vestibulum at augue.</a>
				</div>
				
				<div class="footer border">
					<a href="#">Link - Te la kima di orem ipsum</a>
				</div>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<div class="box colspan-3">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header - Lorem Ipsum</span>
				</div>
				
				<img src="../content/banner_w3.png" alt="" class="left">
				
				<div class="footer border">
					<a href="#">Link - Te la kima di orem ipsum</a>
				</div>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<p style="clear:left;">&nbsp;</p>
		
		<div class="box colspan-3">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header - Lorem Ipsum</span>
				</div>
				
				<img src="../content/banner_w3c.png" alt="" class="left">
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<p style="clear:left;">&nbsp;</p>
		
		<div class="box colspan-3">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<img src="../content/banner_w3c.png" alt="" class="left">
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<h2 style="clear:left;">4/5</h2>
		
		<div class="box colspan-4">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<img src="../content/banner_w4.png" alt="" class="left">
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<p style="clear:left;">&nbsp;</p>
		
		<div class="box colspan-4">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header - Lorem Ipsum</span>
				</div>
				
				<img src="../content/banner_w4b.png" alt="" class="left">
				
				<div class="content headline">
					Headline - Mauris purus urna, egestas et malesuada.
				</div>
				
				<div class="content">
					<a href="#">Link - Mauris purus urna, egestas et malesuada vel, vestibulum at augue.<br /> Mauris purus urna, egestas et malesuada vel, vestibulum at augue.</a>
				</div>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
		<p style="clear:left;">&nbsp;</p>
		
		<div class="box colspan-4">
			<div class="module campaignModule">
				<div class="edge top border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
				
				<div class="header common border">
					<span>Header - Lorem Ipsum</span>
				</div>
				
				<img src="../content/banner_w4b.png" alt="" class="left">
				
				<div class="content headline">
					Headline - Mauris purus urna, egestas et malesuada.
				</div>
				
				<div class="content">
					<span style="font-style:italic">
						Running text - Mauris purus urna, egestas et malesuada vel, vestibulum at augue.
						Mauris purus urna, egestas et malesuada vel, vestibulum at augue.
					</span>
				</div>
				
				<div class="footer border">
					<a href="#">Link - Te la kima di orem ipsum</a>
				</div>
				
				<div class="edge bottom border">
					<div class="left border"></div>
					<div class="right border"></div>
				</div>
			</div>
		</div>
		
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
	<script src="scripts/default.js" type="text/javascript"></script>
	<script src="scripts/jquery-ui-1.8.7.custom.min.js" type="text/javascript"></script>
</html>