<div class="module campaign">
	<div class="content">
		<div class="body">
			<img src="content/banner_w1.png" alt="" class="" />
			<div class="headline">Headline</div>
			<ul>
				<li>list-item 1</li>
				<li>list-item 2</li>
				<li>list-item 3</li>
			</ul>
		</div>
	</div>
</div>