/*

A DIFFERENCE BETWEEN FIREFOX AND IE THAT MIGHT BE GOOD TO KNOW ABOUT
I have found evidence for that IE browsers css engines in some cases seams to follow other rules
then firefox when it comes to which css-declaration is executing.
The order of these two declarations was originally this:

a.jqTransformRadio.jqTransformChecked { background-position: left -19px;}

a.jqTransformChecked { background-position: -30px -21px;}

Firefox understood that the first declaration from the top was a specialization. Firefox made it
overrule the second one, although the second one was located below the first one in this css-file.
That that was the case could be seen in firebug.

But IE did in this case more strictly consider the order of the declarations:
The last one overruled the second one. IE did not se that the first one was a specialisation.
Which obviously firefox did.

The lesson learned is: Always put more specialized css declarations below its correspondingly more general ditto.
/Robert Hannuksela (2011-04-28)
*/

form.jqtransformdone label {
	display: block;
	float:left;
}
form.jqtransformdone div.rowElem {
	clear:both;
	padding:4px 0px;
}
/* -------------
 * Buttons
 * ------------- */
button.jqTransformButton {
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	overflow: visible;
	white-space: nowrap;
}

*:first-child+html button.jqTransformButton[type]{width: 1;} /* IE7 */

button.jqTransformButton span {
	background: transparent url('../../img/posten-sprite.png') no-repeat right -103px;
	display: block;
	float: left;
	padding: 0 14px 0 0; /* sliding doors padding */
	margin: 0px;
	height: 24px;
}

button.jqTransformButton span span {
	background: transparent url('../../img/posten-sprite.png') no-repeat left -78px;
	padding: 2px 0 0 14px;
	font-weight: normal;
	font-size: 16px;
	display: block;
	text-decoration: none;
	height: 24px;
}

a.jqTransformButton {
	text-decoration: none;
}

a.jqTransformButton span {
	background: transparent url('../../img/posten-sprite.png') no-repeat right -103px;
	display: block;
	float: left;
	padding: 0px 14px 0px 0px;
	margin: 0px;
	height: 24px;
}

a.jqTransformButton span span {
	background: transparent url('../../img/posten-sprite.png') no-repeat left -78px;
	padding: 2px 0 0 14px;
	font-weight: normal;
	font-size: 16px;
	display: block;
	height: 24px;
}

/*hover*/
button.jqTransformButton_hover span,
a.jqTransformButton_hover span {
	background: transparent url('../../img/posten-sprite.png') no-repeat right -383px !important;
}

button.jqTransformButton_hover span span,
a.jqTransformButton_hover span span {
	background: transparent url('../../img/posten-sprite.png') no-repeat left -358px !important;
}

/*clicked*/
button.jqTransformButton_click span,
a.jqTransformButton_click span {
	background: transparent url('../../img/posten-sprite.png') no-repeat right -383px !important;
}

button.jqTransformButton_click span span,
a.jqTransformButton_click span span {
	background: transparent url('../../img/posten-sprite.png') no-repeat left -358px !important;
}

/* IE 6 
* html button.jqTransformButton { height:33px; }
* button.jqTransformButton span span { height: 25px; }
*/
/* IE 7 */
*+ html button.jqTransformButton { height:24px; }
*+ button.jqTransformButton span span { height: 24px; }


/* -------------
 * Inputs
 * ------------- */
.jqTransformInputWrapper {
	background: transparent url('../../img/posten-sprite.png') no-repeat left -140px;
	height: 25px;
	padding: 0px;
	float: left;
	margin: -4px 5px 5px 0;
}

.jqTransformInputInner {
	background: transparent url('../../img/posten-sprite.png') no-repeat right -165px;
	padding: 0px;
	margin: 0px;
}

.jqTransformInputInner div {
	height: 25px;
	margin-left: 5px;
}

.jqTransformInputInner div input {
	line-height: 18px;
	vertical-align: middle;
	border: none;
	padding: 6px 0px 0px 0px;
	margin: 0px;
	background: transparent;
}

/*  IE6 */
* html .jqTransformInputInner div input {
	padding: 6px 0 0 0;
	margin: 0 0 0 -8px;
	height:24px;
}
/* Ie7 */
*+ html .jqTransformInputInner div input {
	padding: 6px 0 0 0;
	margin-left:-10px;
	height:24px;
}

/*hover*/
.jqTransformInputWrapper_hover { background-position: left -140px ;}
.jqTransformInputWrapper_hover div.jqTransformInputInner{ background-position: right -165px ;}

/*focus*/
.jqTransformInputWrapper_focus { background-position: left -140px ;}
.jqTransformInputWrapper_focus div.jqTransformInputInner{ background-position: right -165px ;}


.jqTransformSafari .jqTransformInputInner div {
	margin: 0px 7px;
}
.jqTransformSafari .jqTransformInputInner div input {
	background: none;
	margin-top: 2px;
	width: 100% !important;
}



/* -------------
 * Textarea
 * ------------- */
table.jqTransformTextarea td#jqTransformTextarea-mm textarea{
	line-height: 16px;
	margin-left: 2px;
}

table.jqTransformTextarea td{
font-size: 1px;
line-height: 1px;
width: 5px;
height: 5px;
margin: 0;
padding: 0;
}
table.jqTransformTextarea{}
table.jqTransformTextarea tr{
/*border: 1px solid red;*/

}
table.jqTransformTextarea textarea{
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
}
table.jqTransformTextarea td#jqTransformTextarea-tl{background: url('../../img/textarea_tl.png') no-repeat top left;}
table.jqTransformTextarea td#jqTransformTextarea-tm{background: url('../../img/textarea_tm.png') repeat-x top left;}
table.jqTransformTextarea td#jqTransformTextarea-tr{background: url('../../img/textarea_tr.png') no-repeat top left;}

table.jqTransformTextarea td#jqTransformTextarea-ml{background: url('../../img/textarea_ml.png') repeat-y top left;}
table.jqTransformTextarea td#jqTransformTextarea-mm{background: url('../../img/textarea-mm.png') repeat;}
table.jqTransformTextarea td#jqTransformTextarea-mr{background: url('../../img/textarea_mr.png') repeat-y top left;}

table.jqTransformTextarea td#jqTransformTextarea-bl{background: url('../../img/textarea_bl.png') no-repeat top left;}
table.jqTransformTextarea td#jqTransformTextarea-bm{background: url('../../img/textarea_bm.png') repeat-x top left;}
table.jqTransformTextarea td#jqTransformTextarea-br{background: url('../../img/textarea_br.png') no-repeat top left;}

table.jqTransformTextarea .jqTransformSafariTextarea div {
	position: relative;
	overflow: hidden;
	padding-top: 10px;
	padding-right: 3px;
}
table.jqTransformTextarea .jqTransformSafariTextarea textarea{
	background: none;
	position: absolute;
	top: 0;
	left:-10px;
	padding: 0 0 10px 10px;
	resize: none;
}


/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {float: left;display:block;margin: 0 2px 5px 0;}
.jqTransformRadio {
	background: transparent url('../../img/posten-sprite.png') no-repeat left top;
	vertical-align: middle;
	height: 19px;
	width: 18px;
	display:block;
	cursor: default;
}

.jqTransformRadio:focus {
	outline: 1px dotted;
}

.jqTransformRadioWrapper + label {
	margin-top: 1px;
}


/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
	display:block;float:left;
	margin: 0 2px 5px 0;
}
a.jqTransformCheckbox {
	background: transparent url('../../img/posten-sprite.png') no-repeat -30px -1px;
	vertical-align: middle;
	height: 19px;
	width: 18px;
	display:block;
	cursor: default;
}

a.jqTransformCheckbox:focus {
	outline: 1px dotted;
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */

a.jqTransformChecked { background-position: -30px -21px;}

a.jqTransformRadio.jqTransformChecked { /* this more specialized declaration was before located above the more general declaration a.jqTransformChecked { background-position: -30px -21px;} before but specializatins should allways run after generalizationsons */

    background-position: left -19px;
}


/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 45px;
	position:relative;
	height: 24px;
	background: url('../../img/posten-sprite.png') no-repeat left -191px;
	float:left;
	margin-right: 5px;
	margin-top: -3px;
}

.jqTransformSelectWrapper div span {
	float: none;
	position: absolute;
	white-space: nowrap;
	height: 20px;
	line-height: 15px;
	padding: 4px 0 0 7px;
	overflow: hidden;
	cursor:pointer;
	/*border: 1px solid #CCCCCC;*/
/*	border-right: none;*/
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 0px;
	width: 31px;
	height: 24px;
	background: url('../../img/posten-sprite.png') no-repeat right -216px;
}

.jqTransformSelectWrapper a.jqTransformSelectOpen:focus {
	outline: 1px dotted;
}

.jqTransformSelectWrapper ul {
	position: absolute;
	width: 43px;
	top: 23px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #CCC;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 200px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#333;
	background-color: #FFF;
}

.jqTransformSelectWrapper ul a.selected {
	background: #EDEDED;
	color: #333;
}

.jqTransformSelectWrapper ul a:hover,
.jqTransformSelectWrapper ul a.selected:hover,
.jqTransformSelectWrapper ul a:focus {
	background:#cccccc;
	color: #333;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}
